<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" thread-count="2">
	<listeners>
		<listener class-name="com.ChartRequest.Reports.TestListener"></listener>
		 <!-- <listener class-name="com.ChartRequest.Browser.RetryListenerClass"></listener> -->
	</listeners>
	<test name="Chart request" preserve-order="true">
		<classes>
		<!--<class name="com.ChartRequest.TestCases.CutodianStatementTestcasesRestructureCopy" />
		<class name="com.ChartRequest.TestCases.CutodianStatementTestcasesRestructure" />
		<class name="com.ChartRequest.TestCases.SignUpPageTestCases" />-->
		<class name="com.ChartRequest.TestCases.LoginPageTestcase" />  
		<class name="com.ChartRequest.TestCases.CreateRequestTestcases" />
		<class name="com.ChartRequest.TestCases.SearchPageTestCases" />
		<class name="com.ChartRequest.TestCases.MessagesTestCaseNavigationPaneTestCases" />
		<class name="com.ChartRequest.TestCases.MyAccountNavigationPaneTestCases" />
		<class name="com.ChartRequest.TestCases.SetupAndPolicyPageTestcases"/>
		<class name="com.ChartRequest.TestCases.LandingAndViewEditUsersTestcases"/>
		<class name="com.ChartRequest.TestCases.AdminPermissionPageTestcases"/>
		<class name="com.ChartRequest.TestCases.AdminServicePageTestCases"/>
		<class name="com.ChartRequest.TestCases.CSAHomePageTestCases" />
		<class name="com.ChartRequest.TestCases.ExecutivePageTestCases"/> 
		<class name="com.ChartRequest.TestCases.SetupAndPolicyPageTestcases"/> 
		<class name="com.ChartRequest.TestCases.UserRoleAndPermissionTestCases"/>
		<class name="com.ChartRequest.TestCases.AdminEnterpriseResourcesTestCases" />
		<class name="com.ChartRequest.TestCases.AdminTeamAssignmentPageTestCase" />
		<class name="com.ChartRequest.TestCases.AdminTeamLeaderHomePageTestCases" />	
		<class name="com.ChartRequest.TestCases.AdminScheduleManagementTestCase" />
		<class name="com.ChartRequest.TestCases.AdminFaxQueuePageTestcase" />
		<class name="com.ChartRequest.TestCases.AdminBlockedFaxNumberPageTestCases" />
		<class name="com.ChartRequest.TestCases.ClinicalReviewerRequestAssignmentTestCase" />
		<class name="com.ChartRequest.TestCases.EMRCredentialsPageTestCases" />
		<class name="com.ChartRequest.TestCases.AdminStatementPageTestCase" />
		<class name="com.ChartRequest.TestCases.AdminDashboardPageTestCase"/> 
	<!--<class name="com.ChartRequest.Statement.CutodianStatementTestcasesRestructure" />
		<class name="com.ChartRequest.Statement.CutodianStatementTestcasesRestructure2" />-->
		 
		</classes>
		</test>
</suite> <!-- Suite -->
